# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Jupyter
.ipynb_checkpoints/

# Entornos
.env
.venv/
env/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Datos grandes (descomentar si aplica)
# data/*.csv
# data/*.geojson
